

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

#wrap {
	position: relative;
	width: 80%;
	height: auto;
	margin: auto;
	padding: 5vh 2vh 5vh 2vh;
	top: 10vh;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
    }
	
.header-list {
	position: relative;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	width: 100%;
	font-size: 16px;
	
}

.list-item {
	display: inline-block;
	font-size: 14px;
	background-color: lightcyan;
	list-style: none;
	padding-left: 2vh;
	padding-right: 3vh;
	text-align: center;
	height: 50%;
	width: 20%;
}
