
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
	background-color: black; 
	color: white;
}
@media screen {


	
	
#main-container {
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
}


.list-item {
	position: relative;
	display: inline-block;
	margin-right: 30px;
}

.list-item a {
	text-decoration: none;
	color: black;
	transition: 0.5s all;
}

.header-list {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
	list-style: none;
	font-size: 24px;
	position: absolute;
	right: 0px;
	bottom: 10px
}


#title {
	display: inline-block;
	font-size: 50px;
	position: absolute;
	margin-left:50px;
	width: 200px;
	height: 100%;
	transition: 0.5s all;
	text-indent: -500%;
	background-image: url("../files/title/titleWhite.png");
	background-size: contain;
	background-repeat: no-repeat;
	
}


#title-link {
	display: inline-block;
	background-image:url('../files/title/titleWhite.png'); 
	background-size: contain; 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 100%;
}

#title a {
	text-decoration: none;
	color: black;
	transition: 0.5s all;
}

#wrap {
	background: black;
	position: relative;
	width: 100%;
	min-width: 720px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100%;
	height: 100px;
	position: fixed;
	min-width: 720px;
	top: 0;
	background-color: white;
	font-family: 'Oswald', sans-serif;
	color: black;
	z-index: 10;
	overflow: hidden;
	transition: 0.5s all;
}

#carousel {
	height: 100%;
	width: 100%;
}

#csl-box1 {
	background-image: url(../files/image/poster_temp.jpg);
	background-size: cover;
	margin-top: 100px;
	width: 100%;
	height: 1800px;
}

#sub-container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 0px !important;
	vertical-align: baseline;
	
}

#footer {
    position: relative;
	display: grid;
	width: 100%;
	height: 100px;
	background: #282828;
	color: #6a6a6a;
	text-align: center;
	
}

#csl-box2 {
	background-image: url(../files/image/4321.jpg);
	background-size: cover;
	width: 100%;
	height: 1000px;
}

#poster {
	display: grid;
	position: relative;
	top: 100px;
	background-image: url("../files/image/poster_temp.jpg");
	height: 100%;
	width: 100%;
	margin: 0 auto;
	
	}


#main-container {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	height: 1200px;
	width: 1200px;
	top: 100px;
	background-color: black;
	padding: 2vh 2vh 2.5vh 2vh;
}

.left-item {
	float: left;
	width: 480px;
}

#aboutus-warp {
	position: relative;
}

#small-members-img1 {
	background-image: url("../files/image/4321.jpg");
	background-position: top;
	background-size: cover;
	width: inherit;
	height: 350px;
}

.right-item {
	float: right;
	position: relative;
	width: 550px;
}


#small-members-img2 {
	background-image: url("../files/image/43HAK.JPG");
	background-position: top;
	background-size: cover;
	width: inherit;
	height: 350px;
}




#blank-detail-img {
	background-color: lightgray;
}

.right-container {
	position: absolute;
	width: inherit;
	top: 0;
	opacity: 0;
	transition: all 0.3s;
}


.foc {
	color: black;
}




.vhidden {
	visibility: hidden;
	opacity: 0;
}


}

@media screen and (max-width:420px) {
    body {
        width: 100%;
    }
    
    
    #wrap {
        position: relative;
        min-width: 100%;
        height: 100%;
        min-width: 0px;
    }
    
    #header {
        width: 100%;
        height: 2.5em;
        min-width: 0px;
        max-width: 420px;
        transition: 0.3s all;
        background-color: white !important;
        
    }
    
    #title {
        width: 20%;
		height: 100%;
        margin-left: 10px;
        margin-bottom: 0px;
        background-image: url('../files/title/titleBlack.png') !important;
    }
    
    .header-list {
        top: 1.2vh;
        font-size: 16px;
        right: 0px;
        margin-right: 0px;
        
    }
    
    .header-list li {
        margin-right: 4px;
        
    }
    
    .list-item a{
        color: black !important;
    }
    

    
    #footer {
        font-size: 9px;
        top: 4vh;
        height: 7vh;
    }
    
    #main-container {
        width: 100%;
        height: auto !important;
        padding: 2vh 2vh 2.5vh 2vh;
        top: 5vh;
        height: 100% !important;
    }
    
    .left-item {
        float: none;
        width: 100%;
        
    }
    
    .right-item {
        float: none;
        width: 100% !important;
    }
    
    
    .google-info {
        margin: 0px !important;
    }
    
    #google-instr {
        visibility: hidden;
        
    }
    
    #google-ic {
        margin: 0px;
        visibility: hidden;
    }
    
    .m-imp1 {
        visibility: hidden;
    }
    
    .m-imp2 {
        top: 1400px !important;
    }
    

	
	#csl-box1 {
		margin-top: 2.5em;
		background-size: contain;
		background-repeat: no-repeat;
		max-width: 420px;
		max-height: 100vh;
	}
    
#poster {
    top: 2.5em;
	max-width: 420px;
	max-height: 80vh;
}
}


#member-table {
	color: white;
}

.member-table-col {
	padding-right: 0.2vh;
}


.member-table-col2 p {
	margin-bottom: 5px;
	color: gray;
	font-size: 14px;
}

.member-table-col1 {
	width: 17vh;
}

.member-table-col1 h2 {
	font-size: 2.5vh;
}

.alert_one p {
	color: gray;
}

.set-list-container p {
	display: none;
	text-decoration: none;
	color: gray;
	text-align: center;
}
.set-list-container h2 {
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid gray; 
	border-top: 1px solid gray;
	padding-bottom: 10px;
	padding-top: 10px;
}



#kakaopay-send {
	height: 10vh;
	display: grid;
	position: relative;
	text-align: center;
	background: #282828;
	top: 5vh;
}

#kakaopay-send p {
	display: grid;
	position: relative;
	text-align: center;
	top: 2vh;
}

#kakaopay-send p a {
	text-decoration: none;
}
