
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@media screen {
#main-container {
	font-family: 'Noto Sans KR', sans-serif;
}


.list-item {
	position: relative;
	display: inline-block;
	margin-right: 30px;
}

.list-item a {
	text-decoration: none;
	color: white;
	transition: 0.5s all;
}

.header-list {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
	list-style: none;
	font-size: 24px;
	position: absolute;
	right: 0px;
	bottom: 10px
}


#title {
	display: inline-block;
	font-size: 60px;
	position: absolute;
	bottom: 5px;
	margin-left:50px;
	width: 200px;
	transition: 0.5s all;
	text-indent: -500%;
	background-image: url("../files/title/titleWhite.png");
	background-size: contain;
	background-repeat: no-repeat;
	
}


#title-link {
	display: inline-block;
	background-image:url('../files/title/titleWhite.png'); 
	background-size: contain; 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 100%;
}

#title a {
	text-decoration: none;
	color: white;
	transition: 0.5s all;
}

#wrap {
	position: relative;
	width: 100%;
	min-width: 1100px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100%;
	height: 100px;
	position: fixed;
	min-width: 1200px;
	top: 0;
	background: transparent;
	font-family: 'Oswald', sans-serif;
	color: white;
	z-index: 10;
	overflow: hidden;
	transition: 0.5s all;
}

#carousel {
	height: 100%;
	width: 100%;
}

#csl-box1 {
	background-image: url(../files/image/4321up.jpg);
	background-size: cover;
	width: 100%;
	height: 1000px;
}

#sub-container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 0px !important;
	vertical-align: baseline;
	
}

#footer {
	width: 100%;
	height: 100px;
	background: #282828;
	color: #6a6a6a;
	position: absolute;
	top: 1900px;
	text-align: center;
	
}

#csl-box2 {
	background-image: url(../files/image/4321.jpg);
	background-size: cover;
	width: 100%;
	height: 1000px;
}



#main-container {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	height: 1200px;
	width: 1200px;
	background: white;
	top: 700px;
	padding: 60px 65px 110px 65px;
}

.left-item {
	float: left;
	width: 480px;
}

#aboutus-warp {
	position: relative;
}

#small-members-img1 {
	background-image: url("../files/image/4321.jpg");
	background-position: top;
	background-size: cover;
	width: inherit;
	height: 350px;
}

.right-item {
	float: right;
	position: relative;
	width: 550px;
}


#small-members-img2 {
	background-image: url("../files/image/43HAK.JPG");
	background-position: top;
	background-size: cover;
	width: inherit;
	height: 350px;
}

#members-table {
	color: white;
	font-size: 16px;
	text-indent: 5%;
}

.members-cell {
	position: relative;
	width: 250px;
	height: 200px;
	background-position: center;
	background-size: cover;
	text-align: left;
	vertical-align: bottom;
	transition: 0.3s all;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
	opacity: 0.9;
}

#hwayoung {
	background-image: url("../files/image/hwayoung_pt.jpg");
}

#taeyoung {
	background-image: url("../files/image/taeyoung_pt.JPG");
}

#hyeonji {
	background-image: url("../files/image/hyeonji_pt.jpg");

}

#doyeon {
	background-image: url("../files/image/doyeon_pt.JPG");
;}

#yeseul {
	background-image: url("../files/image/yeseul_pt.JPG");
}

#hakmin {
	background-image: url("../files/image/hakmin_pt.JPG");
}

#jinsoo {
	background-image: url("https://lh3.googleusercontent.com/ZjUhbtNGjt3xQ079gXj_hvoTZ26ikTCiYD89IPyuKI6P2-5CCPQCJU4R4Da3dt2I409T4rTnlzcVW6yNE3AFuk1hy6f6HnbjYomiCfPHiI2cDcpyG6bY_Hel9EJqtnjHq7eGY3wJnfLHUzRs1PqSFjtlgylYI1tZgDG_JNnrZWjfDX1wx8RMw7nDrozU5mLQQCQNcQRCkxlRlrOBmZ-rXf2aWvq9GFikt71fK_ev7UjxYQTPl-RBWZXMksL4FIYPqCTiYISNPddl3f1hV07h7-Cfn4CsghI61E6nFYPJ9ExLi5pJlaIbkDrEuaFghDiRHDBdnx3Y4deOzpbbTtezXi8c5mPXyCN4I8Z6ZFmSX4PwhBkeb2qgP_uct7i9aFkYMVCRp0qAcP9NqqdjK8pGizHZbTe2zYIn8GjC9QkpxVRtukGGMS-GfDfB-stLrikqaeXmIEOpG2U5_u7DPM5jQhrxYloQ7mI_eSjti0M7UIOW8T3No7T4o9zKeU6-m76Q-ICRBvBdG_qU1gI6fR-XjcSZrlUlr5JbUn_j6stws-JDb5vOwktY46bDfi89ZGU0qakYJ7HPo5oyRsUqaNx4qIFckNljtb6y8FuPN_P3UZTLQpP5Q9MqON9QGKlltgHbZSEF39eeQmtIxU8ImhiD3dfPGeUlh_GfaQy1vWaqzPESuwdEAnxk_Wh-CsE7__dc1avO4LFVI9qqulfnNK7nDsOkX0lEMYCYJdt7SwEKsvTpYsW25fkzcPtvcqT2BVhXiOFNta7fDHo=s131-p-no-lf");
}

#jaeman {
	background-image: url("../files/image/jaeman_pt.JPG");
}

#jiyoung {
	background-image: url("../files/image/jiyoung_pt.JPG");
}

#yunsang {
	background-image: url("https://lh3.googleusercontent.com/ekuX_MffS9AcaPnOIasEhfWjRT7dJV-Q8DXBTAcXe3J_XkKTVdEgGJrLzEG5U1MDto4fcqzzyVbV-sLCLDO-rdGzn4F0KOwCaAZ02UYED166h2ivF92_V-xDtHFrgIbPPWt8zfEoIzWMlfKXvZMC1uLp00eDyU5wr3ciU44fadFe-kPenoLqCEjcLK2zmsT1rmlSuDGd_4at4BCvTQsEbigxb5xOtIPYafOdCHyP8MMdxhZ4ASln_yUA-qAln-jOHlqx0t6Kyew4vuFvfyOmGazM-5vSVePOK9lbD3s5i3S8KM3c3acLllWMsTdFAoz5-91s-nYt5JkCQ5Q2g7eXGKA-IpMazw_djwbO-oSPrjJwygVpAl3jyJtVRYa5OOrY-Gxxtw5BRH9PtD1G62yLvSK6wNRu0LbcB6ssykUoza8DNMcE_9aVlAMJvx7qEEEKYVZHfIULUrkgG-wSeyOu9tq0XPcfTD1SRWrxQFe4JkVeeu0PPcSwjIwr19GfNN8j5hxdanFs36EshdcQmWbGmfi8cMDFa_ZSGewEQ2csBXern-Kv3G3pcHf_jT0APQK6_8vvivP42M0valR5p0Bxf8w5eo2xwZCq1uGYhN0JrmpS3SnSPeuxOEwaHUGRaQrLAvhjIj-PxGQS3iwCIRKICwo-RtO7BPwPCAeCes2bsBv6MGl5O7kfVm762ttDqT-4MRHSwtg9oYu-98nzpwVU1DuVCl9irSHI1Vj2CGiNmsljO0UaCCUx1SAS0fde2Z2I5UwaAFhEy7g=s131-p-no-lf");
}

.name-bg {
	position: absolute;
	background: linear-gradient(transparent, black);
	width: 100%;
	height: 30px;
	bottom: 0px;
}

.blank-cell {
	border-right: 10px solid white !important;
	border-bottom: 10px solid white !important;
}

#members-detail-img {
	background-image: url("https://lh3.googleusercontent.com/5ZmghlCrIGpnhCJ-6NoaN3Yw1KJNIEtOEuX8k8RusyQMX0pTqT5DrMczITTCcezEPZFsDrDLo_iAO3tfUdtLgDSNa61-aDnCAeHp1WdT-2YBtJg2Vls_egL-pvfuXlStPQy_RFImdK8=w1440-h960-no");
	width: 100%;
}

#hwayoung-detail-img {
	background-image: url("https://lh3.googleusercontent.com/5ZmghlCrIGpnhCJ-6NoaN3Yw1KJNIEtOEuX8k8RusyQMX0pTqT5DrMczITTCcezEPZFsDrDLo_iAO3tfUdtLgDSNa61-aDnCAeHp1WdT-2YBtJg2Vls_egL-pvfuXlStPQy_RFImdK8=w1440-h960-no");
}

.members-detail-img {
	width: 100%;
	height: 300px;
	background-size: cover;
}

.members-detail-desc-title {
	margin-top: 20px;
	margin-left: 5px;
}

.members-detail-desc-table td:first-child {
	width: 85px;
}

.members-detail-desc-table td:last-child {
	width : 450px;
}

#hyeonji-detail-img {
	background-image: url("https://lh3.googleusercontent.com/pWCh5qfcgJ5JqyzRgUCMVcyOpthpmKI-llL6U34F_Mn0SOO0b0RX6Boa_e4XuWiuSSB1SzF1JmgMZNYC5cbyi5L6XszdfqizJmjkmaoU8kFKy7JMf2WtbfulK-N84r0YOeuo175tfGM=w1440-h960-no");
}

#doyeon-detail-img {
	background-image: url("https://lh3.googleusercontent.com/W2eoMY676EqoUkbep_QR1WUQYVJ1wxh0PBSrq4GNNq4f-aWuDDQE-E4bBPKqKc-k7Sipe9Mm1S1_x-W4BKdoneb4eaTetV-_fK73r2Z1pb8NeDB_2NPO5F-zhC2m2_nDW6oZPun2ASw=w1440-h960-no");
}

#yeseul-detail-img {
	background-image: url("https://lh3.googleusercontent.com/7dbbm1CSH_Tr-cwONaelOVgxCojWW28OaRQxbH05afOwbUZhR9rdjOQM1WqyKyulQbo49FCa9SRGN8MdGANWdvcsZBlg5F9gB9HO15rQT6bB4IICXt69wdxxUBJUNZEXpd4p2atqRq4=w1440-h960-no");
}

#hakmin-detail-img {
	background-image: url("https://lh3.googleusercontent.com/zRroCTnVMzP9CxHKGdlGgOTfHyv0L99SfRChlypXsHpqgpjgF0SgWtMhnsDkLKQspfpfNmy_1EEYk7O__80O-Z3eKNG_P-XzhkajoJJ76BJ51OOrLC1YdHtiWW9oAQv0DYG0mNVxA-g=w1440-h960-no");
}

#jinsoo-detail-img {
	background-image: url("https://lh3.googleusercontent.com/rs0QZkHEzQffLgBXMxhZIdMmYWl2jscBwJZZMblm5rtprcm0gieSa-2RJh8VpeskHfH0rS6WnIZhbVJlpHs5HI1mZUE8RxTsI3bMuz78rdcypbplv2GWKxXyNu8qitNldey_Kbmglw8=w1440-h960-no");
}

#jaeman-detail-img {
	background-image: url("https://lh3.googleusercontent.com/iqagSHu6oOF2KR0m2zs4PhMsrohnz59jK0vGRy_1ixpnudsWJU2CpfQbmZLhaay1smgd2LXJavZ8NZ_eDdsiNFAA6lY-VFxXVBwoF59u2UH-4gDppZK4Y9c-DxEj_GS3-ZaeLDkQwHU=w1440-h960-no");
}

#taeyoung-detail-img {
	background-image: url("https://lh3.googleusercontent.com/bg2vRohKdAKzqcLttxowm16h5cESEgh2BTo8kbhC39mdeBLsjmrDIjfcdGFKDIwbb2QzACzVOFHAmbMW3cJMHS1zVocPtRMaZkoKlyYUE5AgIczrQX5Id98LXx51iHalQfM-9TC2cSc=w1440-h960-no");
}

#jiyoung-detail-img {
	background-image: url("https://lh3.googleusercontent.com/tKH5xS0SX291TE-4KBve-_wOgGXHn4dnMfdrFAEKqI1Xbswa66EVlo2GpcpLb4aqs67ZUM2xVYfFv6QXMkBbxKc1Q0rcTH95qBXnynwMU8jjup0x8GqFx-4YIxnfCKZbAozw9Wvvl58=w1440-h960-no");
}

#yunsang-detail-img {
	background-image: url("https://lh3.googleusercontent.com/eSmm3kyc86XMxZ73naT4soqcohykRroSOcTQdPSTcL4wWDYuVaGOg8AVeMkYjNxgYct42OQ1bhQJUvcF6FiVyuvIH35eoqPzThtYaeKhEKO5KXnv5pFSL8iv1uX7v1U2HjZBaKGONDE=w1440-h960-no");
}



#blank-detail-img {
	background-color: lightgray;
}

.right-container {
	position: absolute;
	width: inherit;
	top: 0;
	opacity: 0;
	transition: all 0.3s;
}

.gallery-box {
	display: inline;
	float: left;
	
}
.gallery-box img {
	margin: 3px;
}

.year-select {
	margin-bottom: 20px;
	color: lightgray;
	transition: all 0.5s;
}

.year-select span {
	text-decoration: none;
	transition: all 0.3s;
	cursor: default;
	margin-right: 15px;
	font-family: 'Oswald', sans-serif;
}


.year-gallery{
	padding: 0;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
	grid-auto-flow: dense;
	list-style: none;
	
}


.year-each-cell {
	height: 270px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.foc {
	color: black;
}


.year-deslcted {
	display: none;
}

.gallery-cell-show {
	position: fixed;
	width: 100%;
	height: 90%;
	top: 8vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 9999999;
	background-color: rgba(0,0,0, 0.0);
	padding: 0px;
	padding-bottom: 50px;
	transition: all 0.3s;
	opacity: 1;
}

.gallery-cell-show img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0px auto;
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
	background-color: rgba(0,0,0,0.75);
	
}

.vhidden {
	visibility: hidden;
	opacity: 0;
}



.youtube-embd-warp {
	position: absolute;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
	margin: 0px auto;
}

#video-warp {
	position: relative;
}

.youtube-embd-info {
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
	transition: all 0.5s;
}

.vid-select {
	padding: 0;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
	grid-auto-flow: dense;
	list-style: none;
}

.vid-cell {
	position: relative;
	height: 270px;
	background-size: cover;
	background-position: center;
	cursor: default;
}

.video-select-panel {
	position: absolute;
	top: 730px;
	width: 100%;
	
}

.vid-cell-detail {
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
	bottom: 30%;
	font-size: 20px;
	background-color: rgba(0,0,0,0.5);
	transition: all 0.5s;
}

}

@media screen and (max-width:420px) {
    body {
        width: 100%;
    }
    
    
    #wrap {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 0px;
    }
    
    #header {
        width: 100%;
        height: 2.5em;
        min-width: 0px;
        max-width: 420px;
        transition: 0.3s all;
        background-color: white !important;
        
    }
    
    #title {
        width: 20%;
        top: 5px;
        margin-left: 5px;
        margin-bottom: 0px;
        background-image: url('../files/title/titleBlack.png') !important;
    }
    
    .header-list {
        top: 1.2vh;
        font-size: 16px;
        right: 0px;
        margin-right: 0px;
        
    }
    
    .header-list li {
        margin-right: 4px;
        
    }
    
    .list-item a{
        color: black !important;
    }
    
    #csl-box1 {
        width: 100%;
        height: 50vh !important;
        max-width: 500px;
        margin-top: 25px;
        background-position: center;
        
    }
    
    #footer {
        font-size: 9px;
        height: 50px;
    }
    
    #main-container {
        width: 100%;
        height: auto !important;
        padding: 2vh 2vh 2.5vh 2vh;
        top: 35vh;
        height: 100% !important;
    }
    
    .left-item {
        float: none;
        width: 100%;
        
    }
    
    .right-item {
        float: none;
        width: 100% !important;
    }
    
    #small-members-img1 {
        height: 250px;
        margin-top: 20px;
    }
    
    #small-members-img2 {
        height: 250px;
    }
	
	.members-warp {
		position: relative;
	}
    
    
    .members-cell {
        width: 35vw;
        height: 16vh;
        border: 5px solid white;
    }
    
    .google-info {
        margin: 0px !important;
    }
    
    #google-instr {
        visibility: hidden;
        
    }
    
    #google-ic {
        margin: 0px;
        visibility: hidden;
    }
    
    .m-imp1 {
        visibility: hidden;
    }
    
    .m-imp2 {
        top: 1400px !important;
    }
    
    .m-imp-index {
        top: 50vh !important;
    }
    
    #video-warp {
        height: 100%;
        width: 100%;
        background-color: white;
    }
    
    .youtube-embd-warp iframe {
        height: 30vh;
    }
    
    .video-select-panel {
        top: 45vh;
    }
}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 450px;
  left: 47%;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

