@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('../css/easterstyle.css');
@keyframes swing {
	15% {
	transform: translateX(15px);
	}
	30% {
	transform: translateX(-15px);
	}
	50% {
	transform: translateX(9px);
	}
	65% {
	transform: translateX(-9px);
	}
	80% {
	transform: translateX(6px);
	}
	100% {
	transform: translateX(0);
	}
}

.blackbgd {
    background: black !important;
}

.navlist-item {
	display: inline-block;
    padding-right: 18px;
    padding-right: 18px;
	
}

.navlist-item div {
    background-image: url("../sources/img/nav-icon-fixed.png");
    background-size: cover;;
    background-position: center;
    width: 35px;
    height: 35px;
}

.navlist-item a {
	color: black;
	text-decoration: none;
}

.title {
	display: inline-block;
	position: absolute;
	text-decoration: none;
	background-image: url("../sources/title/titleBlack.png");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 21px;
	width: 8vh;
	height: 100%;
	text-indent: -999%;
}

.navbar {
	
}

.navbar-cont {
	background-color: white;
	position: fixed;
	top: 0;
	transition: 0.5s all;
	width: 100%;
	height: 60px;
	z-index: 999;
	overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}

.navlist {
	display: inline-block;
	position: absolute;
	right: 0px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 0;
	margin-top: 15px;
}

#init-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.main-container {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	position: fixed;
	top: 50px;
	background: rgba(52, 178, 232);
	width: 100%;
	height: 100%;
    opacity: 1;
}


.footer {
	position: fixed;
    border-top: 1px solid gray;
	bottom: 0;
	background-color: black;
	width: 100%;
	height: 50px;
}

.footer p {
	font-size: 9px;
	text-align: center;
    color: white;
}

.poster {
	position: absolute;
	display: block;
	overflow: auto;
	background-image: url("../sources/img/poster_temp.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	min-width: 375px;
	width: 100%;
	max-height: 650px;
	height: 80%;
	left: 50%;
	margin: 0 auto;
	transform: translateX(-50%);
	
}

.infobox {
	position: fixed;
	display: none;
	z-index: 20;
	/* background-color: rgba(0,0,0,0.8); */
	top: 70px;
	width: 95%;
	height: 79%;
	left: 50%;
	transform: translateX(-50%);
	/* 공연포스터 확인해서 유동적으로 조절 */
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.infobox p {
	padding-top: 20px;
	text-align: center;
}

.infobox a {
	color: white;
}

.member-table-col {
	padding-right: 0.2vh;
}

.member-table-col2 p {
	margin-bottom: 4.5px;
	color: white;
	font-size: 12px;
    letter-spacing: -1px;
}

.member-table-col1 {
	width: 13vh;
}

.member-table-col1 h2 {
    font-size: 18px;
    -webkit-text-stroke: 0.25px gray;
}

.members-table {
	position: absolute;
	left: 16px;
	overflow: scroll;
	top: 60px;
	bottom: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}

.members-table td{
    padding-bottom: 10px
}

.poster-bgd {
	background-image: url("../sources/img/poster_t_opb.png");
    background-size: cover;
}

.flw-siblings {
	height: auto;
}

.tableflow {
	max-height: 90%;
    overflow: scroll;
}

.set-list-container {
	text-align: center;
	margin-top: 20px;
}

.set-list-container p {
	color: white;
	text-align: left;
	margin-left: 0%;
}

.set-list-part {
	margin-bottom: 25px;
	padding: 10px 5px 10px 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.set-list-guide {
    margin-top: 10px;
	text-align: center;
    font-size: 12px;
}

.song-detail {
	position: fixed;
	z-index: 10;
	top: 70px;
	bottom: 70px;
	width: 90%;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	/* background-color: rgba(0,0,0,0.8); */
	/* border: 1px solid gray; */
	padding: 5px;
    /* border-radius: 15px; */
	
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15)
}


.song-detail-lyc {
	margin-left: 10px;
	overflow: scroll;
	height: 65%;
	margin-top: 5px;
    line-height: 180%;
}
.song-detail-lyc p {
	font-size: 16px;
	color: lightgray;
}

.song-detail-table {
    margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.song-detail-table td {
    padding-bottom: 5px;
}

.song-detail-table td:first-child {
    font-weight: 8000;
}




.song-detail-wrap {
	position: relative;
    margin: 3px;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.kongal {
	position: absolute;
	top: 5px;
	left: 62%;
	background-size: contain;
	background-repeat: no-repeat;
	width: 50%;
	height: 100px;
}


/** onepage : 한페이지
    isitgood : 좋지 아니한가
    power : 힘 내 !
    takeoff : 26
    dancewrain : 비오는 거리에서 춤을 추자
    wac : We Are The Champions
    shine : 찬란
    lifelikethat :  그렇게 살아가는 것
    ugatsa : 우리 같은 사람들
    lukas : 루카스
    saramsarang : 사랑은 변하고 사랑은 변하지만
    throwaway : 다 던저벼려
    heera : 윤희라 자작곡
    suwon : 채수원 자작곡
    chami : 차미
    jrkrn : 절룩거리네 
                                        **/


#onepage-detail {
	visibility: hidden;
}

.setlist-ovf {
	overflow: scroll;
	max-height: 90%;
}


#isitgood-detail {
	visibility: hidden;
}

#power-detail {
	opacity: 0;
	visibility: hidden;
}



#takeoff-detail {
	opacity: 0;
	visibility: hidden;
}

#dancewrain-detail {
	opacity: 0;
	visibility: hidden;
}


#wac-detail {
	opacity: 0;
	visibility: hidden;
}



#shine-detail {
	opacity: 0;
	visibility: hidden;
}


#lifelikethat-detail {
	opacity: 0;
	visibility: hidden;
}


#ugatsa-detail {
	opacity: 0;
	visibility: hidden;
}


#lukas-detail {
	opacity: 0;
	visibility: hidden;
}



#saramsarang-detail {
	visibility: hidden;
}


#throwaway-detail {
	opacity: 0;
	visibility: hidden;
}

#heera-detail {
	opacity: 0;
	visibility: hidden;
}

#suwon-detail {
	opacity: 0;
	visibility: hidden;
}

#chami-detail {
	opacity: 0;
	visibility: hidden;
}

#jrkrn-detail {
	opacity: 0;
	visibility: hidden;
}

.notice-sec {
	margin: 15px; 
}

.notice-sec p {
	color: gray;
}



.infoTable {
	margin-left:  10px;
	margin-right: 10px;
}

.infoTable td {
	padding-left:  5px;
	color: lightgray;
}


.infoTable td:first-child {
	padding-left: 0;
	width: 70px;
	color: white;
}

.snslink-wrap {
	margin-top: 8vh;
	font-size: 12px;
	
}

.snslink {
	margin-left: 15px;
	margin-right: 15px;
}

.snslink td {
	padding-left: 30px;
	text-align: left;
}

.snslink td:first-child{
	padding-left: 0;
}

.infoTable-wrap {
	margin-top: 30px
}

.payLinkP {
	height: 150px;
	margin-top: 20vh;
	font-size: 24px;
}

.easter-kongal-img {
	position: absolute;
	background-color: white;
	background-image: url("../sources/img/sumin.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translate3d(0,0,0);
	background-blend-mode: none;
	width: 100%;
	height: 75%;
}

.easter-kongal-img:nth-child(n+2) {
	opacity: 0;
}

.easter-kongal-img:nth-child(n+2) {
	animation-duration: 4s;
	animation-delay: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.easter-kongal-img:nth-child(2) {
	background-color: transparent;
	background-blend-mode: none;
	animation-name: glitch-anim-1;
}

.easter-kongal-img:nth-child(3) {
	background-color: transparent;
	background-blend-mode: none;
	animation-name: glitch-anim-2;
}

.easter-kongal-img:nth-child(4) {
	background-color: transparent;
	background-blend-mode: none;
	animation-name: glitch-anim-3;
}

.easter-kongal-img:nth-child(5) {
	background-color: #862a2a;
	background-blend-mode: overlay;
	animation-name: glitch-anim-flash;
}



.easter-kongal-desc {
	background: white;
	font-family: 'Changa', sans-serif;
	position: absolute;
	animation-name: glitch-anim-text;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 100%;
	top: 75%;
	font-size: 1.5em;
	text-align: right;
	font-weight: 400;
	animation-delay: calc(2s + 4s * 0.25);
}

.member-table-row { 

}

.nav-extend {
    display: none;
    position: fixed;
    top: 50px;
    /* background-color: rgba(0,0,0, 0.9); */
    height: 195px;
    width: 100%;
    z-index: 5;
    padding-top: 10px;
    /* border-bottom: 1px solid white; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav-extend  li {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom: 8px;
}

.nav-extend-list-item a {
    text-decoration: none;
    color: white;
    
}

.hq {
    position: absolute;
    top: 20px;
    height: 30px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.division-desc {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.division-line {
    display: inline-block;
    width: 33%;
    height: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid white;
}

.next {
    top: 180px;
}

.hq2 {
    position: absolute;
    top: 140px;
    height: 30px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.main-container0 {
	font-family: 'Noto Sans KR', sans-serif;
	position: fixed;
	top: 60px;
	width: 100%;
	height: 100%;
}

.navbar-cont-e {
    background-color: white;
	position: fixed;
	top: 0;
	transition: 0.5s all;
	width: 100%;
	height: 60px;
	z-index: 999;
	overflow: hidden
}

.ovf {
    overflow: scroll;

}



.kpayimg {
    display: inline-block;
    margin-left: 10px;
    background-image: url('../sources/img/kpayicon.jpg');
    background-size: contain;
    background-position: center;
    vertical-align: baseline;
    width: 36px;
    height: 18px;
}

.indexkpay {
	position: absolute;
	margin: 0 auto;
}



.songcell {
    text-align-last: center;
}

.nav-extend-list {
    margin-top: 5px;
}

.infobox-detail {
    text-align-last: left;
    padding-left: 15px;
}

.infobox-logo {
    position: relative;
    filter: invert();
    left: 50%;
    transform: translateX(-50%);
}
